<div *ngIf="listadoPelicula && listadoPelicula.length>0" >
  <table mat-table [dataSource]="listadoPelicula" fxLayout="column">

    <ng-container matColumnDef="title">
      <th fxLayout="column" mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="director">
      <th fxLayout="column" mat-header-cell *matHeaderCellDef> Director </th>
      <td mat-cell *matCellDef="let element"> {{element.director}} </td>
    </ng-container>

    <ng-container matColumnDef="producer">
      <th fxLayout="column" mat-header-cell *matHeaderCellDef> Productor </th>
      <td mat-cell *matCellDef="let element"> {{element.producer}} </td>
    </ng-container>

    <ng-container matColumnDef="release_date">
      <th fxLayout="column" mat-header-cell *matHeaderCellDef> Fecha_estreno </th>
      <td mat-cell *matCellDef="let element"> {{element.release_date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

